body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    text-align: center;
    padding-top: 80px;
}

form {
    background: #ffffff;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
}

input, select, button {
    width: 90%;
    padding: 8px;
    margin-top: 10px;
}

button {
    background-color: #2c3e50;
    color: white;
    border: none;
    cursor: pointer;
}
