<!DOCTYPE html>
<html>
<head>
    <title>College Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="dashboard">

    <div class="navbar">
        <h2>IV Planner & Connector</h2>
        <div>
            <span>College</span>
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div class="dashboard-body">

        <div class="sidebar">
            <a href="/college/review-ivs">Review IV Requests</a>

        </div>

        <div class="main-content">

            <div class="stats">
                <div class="stat-box"><h2>4</h2><p>Active IVs</p></div>
                <div class="stat-box"><h2>2</h2><p>Pending</p></div>
                <div class="stat-box"><h2>6</h2><p>Partners</p></div>
            </div>

            <div class="section-card">
                <h3>IV Approval Status</h3>
                <canvas id="collegeChart"></canvas>
            </div>

        </div>
    </div>
</div>

<script>
new Chart(document.getElementById("collegeChart"), {
    type: "pie",
    data: {
        labels: ["Approved", "Pending"],
        datasets: [{
            data: [4, 2],
            backgroundColor: ["green", "orange"]
        }]
    }
});
</script>

</body>
</html>
