<!DOCTYPE html>
<html>
<head>
    <title>Provider Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>

<div class="dashboard">

    <div class="navbar">
        <h2>IV Planner & Connector</h2>
        <div>
            <span>Provider</span>
            <a href="/logout">Logout</a>
        </div>
    </div>

    <div class="dashboard-body">

        <div class="sidebar">
            <a href="/provider/add-iv">Add IV Availability</a>
            <a href="/provider/add-iv">Add IV Availability</a>
            <a href="/provider/my-ivs">View My IVs</a>


        </div>

        <div class="main-content">

            <div class="stats">
                <div class="stat-box"><h2>8</h2><p>Slots</p></div>
                <div class="stat-box"><h2>3</h2><p>Pending</p></div>
                <div class="stat-box"><h2>5</h2><p>Colleges</p></div>
            </div>

            <div class="section-card">
                <h3>Slot Utilization</h3>
                <canvas id="providerChart"></canvas>
            </div>

        </div>
    </div>
</div>

<script>
new Chart(document.getElementById("providerChart"), {
    type: "line",
    data: {
        labels: ["Week 1", "Week 2", "Week 3"],
        datasets: [{
            label: "Booked Slots",
            data: [2, 5, 7],
            borderColor: "#667eea",
            fill: false
        }]
    }
});
</script>

</body>
</html>
